.main{
   min-height: 92vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.938) , rgba(85, 72, 72, 0.664) , rgba(0, 0, 0, 0.938));
    /*background-position: center;*/
    /*  background-size: cover;*/
    position: relative;
    padding-bottom: 3rem;
    padding: 40px 5px;
    overflow-y:hidden;
    
}

.main::-webkit-scrollbar {
    display: none;
  }

.form-box1
{

width: 55%;
background: rgba(255, 255, 255, 0.747);
box-shadow: 5px 5px 3px grey;
border-top-left-radius: 3% 5% ;
border-top-right-radius: 3% 5% ;
border-bottom-left-radius: 3% 5% ;
border-bottom-right-radius: 3% 5% ;
min-height: 550px;
margin-left: 25%;
/*border-top-left-radius: 20% 50%;
border-bottom-left-radius: 20% 50%; */

padding: 60px 40px;
}
.input-field1
{
   
 background: transparent;
 border: none;
 border-bottom: 1px solid #999;
    outline: none;
    width: 62%;
    margin-left: 25px;
    margin-top: 0px;
    

}
.rowe{
 
    display: flex;
    flex-direction: row;
   
    
}
.i{
    padding: 5px;
    margin-top: 20px;
}

.submit-btn1{
    /* background-image: linear-gradient(to right, rgba(11, 25, 156, 0.637) , rgba(25, 18, 114, 0.171)); */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.938) , white); */
    background: #3e60c1 ;
width: 120px;
font-size: 15px;
font-weight: bolder;
margin-top: 10px;
margin-left: 300px;
min-height: 35px;
color: white;
border-radius: 3px;
border : none;
} 
.erro{
margin-top: 23px;
margin-left: 2px;
color: rgba(255, 0, 0, 0.671);
}

.form-box1 > h1 {

    font-family :Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 60px;
    display: flex;
    justify-content: center;
}


.link{
    display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
   margin-top: 50px;
   margin-left: 10px;
   
}


.links11{
    flex-direction: row;
    display: flex;
width: 45px;
height: 45px;
border-top-left-radius: 30% 30% ;
border-top-right-radius: 30% 30%;
border-bottom-left-radius: 30% 30%;
border-bottom-right-radius: 30% 30%;
background: blue; 
color: white;
cursor: pointer;
font-size: 30px;
font-weight: bolder;
margin-top: 3px;
margin-left: 10px;
padding: 5px 25px;

}
.links11 > p{

    margin-left: -8px;
    margin-top: -4px;
}

.links21{
    
    width: 45px;
height: 45px;
border-top-left-radius: 30% 30% ;
border-top-right-radius: 30% 30%;
border-bottom-left-radius: 30% 30%;
border-bottom-right-radius: 30% 30%;
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 20px;
    margin-top: 3px;
    padding: 5px 25px;
    
    }


    .links31{
        flex-direction: row;
        display: flex;
    
        width: 45px;
        height: 45px;
        border-top-left-radius: 30% 30% ;
        border-top-right-radius: 30% 30%;
        border-bottom-left-radius: 30% 30%;
        border-bottom-right-radius: 30% 30%;
        background-color : rgba(10, 199, 233, 0.87);
        color: white;
        cursor: pointer;
        font-size: 30px;
        font-weight: bolder;
        margin-top: 3px;
        margin-left: 16px;
        
        }



        .links41{
           
            flex-direction: row;
            display: flex;
            width: 45px;
height: 45px;
border-top-left-radius: 30% 30% ;
border-top-right-radius: 30% 30%;
border-bottom-left-radius: 30% 30%;
border-bottom-right-radius: 30% 30%;
            background: #0077B5;
            color: white;
            cursor: pointer;
            font-size: 30px;
            font-weight: bolder;
            margin-top: 3px;
            margin-left: 18px;
            
            }


            .links21 > p{

                margin-left: -10px;
                font-size: 25px;
                margin-bottom: 4px;
            }

            .links31 > p{

                margin-left: 12px;
                font-size: 27px;
                
            }

            .links41 > p{

                margin-left: 12px;
                font-size: 25px;
               padding: 0px;
            }


.link-bttn1{
    font-size: 13px;
    color: black;
    margin-left: -40%;
    margin-top: 20px;
}
.links11:hover{

    background: rgb(82, 82, 238);
    transition: 1s;
    border :2px solid white;
}
.links21:hover{

    background: rgb(163, 54, 39);
    transition: 1s;
    border :2px solid white;
}
.links31:hover{

    background: rgb(106, 231, 225);
    transition: 1s;
    border :2px solid white;
}
.links41:hover{

    background: rgb(71, 168, 233);
    transition: 1s;
    border :2px solid white;
}