<!DOCTYPE html> 
<html> 
<title>STRIPE PAYMENT</title> 
<body> 
    <h3>KRISTU JAYANTI PAYMENT GATEWAY</h3> 

    <form action="payment" method="POST"> 
       
    <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="<%= key %>" 
        data-amount="10000"  
        data-currency="INR" 
        data-name="KRISTU JAYANTI COLLEGE" 
        data-description="College Fest" 
        data-locale="auto" > 
        </script> 
    </form> 
</body> 
</html>

